/* General Styles for Table */
.item-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .item-table th, .item-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .item-table th {
    background-color: #164863; /* Green background for headers */
    color: white;
  }
  
  .item-select, .item-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .item-input[readonly] {
    background-color: #f0f0f0; /* Grey background for read-only inputs */
  }
  
  .item-input::placeholder {
    font-style: italic;
  }
  
  /* Styles for Form Container */
  .form-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
    margin-bottom: 20px; /* Space between form and table */
  }
  
  /* Date Picker Styles */
  .date-picker {
    flex: 1; /* Adjust the flex value as needed */
  }
  
  /* Input Number Styles */
  .input-number {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 120px;
  }
  
  /* Button Styles */
  .add-button {
    padding: 10px 20px;
    background-color: #164863; /* Button background color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #123456; /* Darker shade for hover effect */
  }
  